
@import "tailwindcss";
:root {
  --font-sans: "Rubik", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --primary: #b8862c;
  --primary-hover: #976c1b;
  --secondary: #081e3f;
  --secondary-hover: #0c2b63;
  --tertiary: #C8A35C;
  --danger: #d64545;
  --success: #48a957;
  --menucard: #d6d2cd;
  --background: #fffbeb;
}

body {
  @apply bg-[var(--background)] text-[var(--secondary)];
  font-family: var(--font-sans);
}

img {
  width: 100%;
}

