@import 'tailwindcss';
:root {
  --font-sans: 'Rubik', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  
  /* Light Mode Colors */
  --primary: #b6862c;
  --primary-hover: #9b7426;
  --primary-text: #071d3e;
  --secondary: #081e3f;
  --secondary-hover: #0c2b63;
  --tertiary: #c8a35c;
  --danger: #d64545;
  --success: #4ba357;
  --menucard: #d6d2cd;
  --background: #fffbeb;
  --text: #081e3f;
  --text-secondary: #665027;
  --border: #c8a35c;
  --card-bg: #ffffff;
}

[data-theme='dark'] {
  /* Dark Mode Colors - Inverted palette */
  --primary: #c8a35c;
  --primary-hover: #b6862c;
  --primary-text: #fffbeb;
  --secondary: #fffbeb;
  --secondary-hover: #eeeeee;
  --tertiary: #9b7426;
  --danger: #d64545;
  --success: #4ba357;
  --menucard: #161616;
  --background: #0f172a;
  --text: #fffbeb;
  --text-secondary: #c8a35c;
  --border: #665027;
  --card-bg: #081e3f;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}

img {
  width: 100%;
}
